/* ================================== Mobile First ==================================*/

.container {
  max-width: 335px;
  margin: 0 auto;
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
