.hero-content {
    padding-top: 8px;
  }
  
  .hero-content .hero-inner {
    position: relative;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        357.37deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      ),
      url('./src/img/main-section/main-mobile.jpg');
    padding: 0 20px;
    padding-top: 425px;
    padding-bottom: 72px;
    border-radius: 16px;
    max-width: 1192px;
    margin: 0 auto;
  }


  @media screen and (min-width: 768px) {
    .hero-content .hero-inner {
      padding-top: 260px;
      padding-bottom: 295px;
      padding-left: 32px;
      background-image: linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url('./src/img/main-section/main-tablet.jpg');
    }
  
    .hero-content .hero-heading {
      max-width: 488px;
    }
  
    .hero-content {
      padding-top: 32px;
    }
  }


  @media screen and (min-width: 1280px) {
    .hero-content .hero-inner {
      background-size: cover;
      padding-top: 164px;
      padding-bottom: 163px;
      padding-left: 64px;
      padding-right: 64px;
      background-image: linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url('./src/img/main-section/main-desktop.jpg');
    }
  
    .hero-content .hero-heading {
      max-width: 564px;
    }
  }

  .cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.714;
    text-align: center;
    max-width: 295px;
    width: 100%;
    padding: 14px 0;
    text-decoration: none;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }


  .scroll-down-link {
    position: absolute;
    right: 14px;
    bottom: 14px;
    display: block;
    width: 38px;
    height: 38px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in-right 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1s both;
  }
  
  .scroll-down-link:hover,
  .scroll-down-link:focus {
    background-color: var(--primary-color);
  }
  
  .scroll-icon {
    fill: var(--primary-color);
  }
  
  .scroll-down-link:hover .scroll-icon,
  .scroll-down-link:focus .scroll-icon {
    fill: var(--white);
  }