/* Hero section */

.hero-content {
    padding-top: 8px;
  }

  .hero-content .hero-inner {
    background-color: var(--cl-green);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        357.37deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      ),
      url('../../img/main-section/main-mobile.jpg');
    padding: 0 20px;
    padding-top: 425px;
    padding-bottom: 72px;
    border-radius: 16px;
    max-width: 1192px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

.main-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05263;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 60px;
    line-height: 1.167;
  }
}

.main-title-highlight {
  color: var(--color-green-pseudo);
}

.apply-now-button {
  border: 1px solid var(--color-green);
  border-radius: 12px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  padding: 14px 78px;
  background-color: var(--color-green);
  transition: .25s cubic-bezier(.4, 0, .2, 1);
  transition-property: background-color, border-color;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.apply-now-button:hover,
.apply-now-button:focus {
  background-color: var(--color-dark-green);
}

  @media (min-resolution: 192dpi) {
    .hero-content .hero-inner {
      background-image: linear-gradient(
          357.37deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url('../../img/main-section/main-mobile@2x.jpg');
    }
  }

  @media (min-resolution: 384dpi) {
    .hero-content .hero-inner {
      background-image: linear-gradient(
          357.37deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url('../../img/main-section/main-mobile_2x.avif');
    }
  }

  .hero-content .hero-heading {
    margin-bottom: 40px;
    animation: fade-in 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  }

  .scroll-down-link {
    position: absolute;
    right: 14px;
    bottom: 14px;
    display: block;
    width: 38px;
    height: 38px;
    background-color: var(--color-white);
    border-radius: 50%;
  }

  .scroll-down-link:hover,
  .scroll-down-link:focus {
    background-color: var(--color-green)!important;
  }

.scroll-down-link:hover .scroll-icon,
.scroll-down-link:focus .scroll-icon {
  fill: var(--color-white);
}
.scroll-icon {
  fill: var(--color-green);
}


.cta-button {
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }

  .apply-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.71;
    text-align: center;
    max-width: 295px;
    width: 100%;
    padding: 14px 0;
    text-decoration: none;
  }

  .scroll-down-link {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in-right 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1s both;
  }

  .scroll-down-link:hover,
  .scroll-down-link:focus {
    background-color: var(--color-green);
  }

  .scroll-down-link:hover .scroll-icon,
  .scroll-down-link:focus .scroll-icon {
    fill: var(--color-white);
  }

  .scroll-icon {
    fill: var(--color-green);
  }

  /* Media */
  @media screen and (min-width: 768px) {
    .hero-content .hero-inner {
      padding-top: 260px;
      padding-bottom: 295px;
      padding-left: 32px;
      background-image: linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url('../../img/main-section/main-tablet.jpg');
    }

    .apply-now-button {
      max-width: 308px;
      font-size: 18px;
      line-height: 1.56;
      padding: 16px 64px;
    }

    @media (min-resolution: 192dpi) {
      .hero-content .hero-inner {
        background-image: linear-gradient(
            95.97deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0)
          ),
          url('../../img/main-section/main-tablet@2x.jpg');
      }
    }

    .hero-content .hero-heading {
      max-width: 488px;
    }

    .scroll-down-link {
      position: absolute;
      right: 32px;
      bottom: 32px;
      width: 48px;
      height: 48px;
    }

    .hero-content {
      padding-top: 32px;
    }
  }

  @media screen and (min-width: 1280px) {
    .hero-content {
      padding-top: 16px;
    }

    .hero-content .hero-inner {
      background-size: cover;
      padding-top: 164px;
      padding-bottom: 163px;
      background-image: linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url('../../img/main-section/main-desktop.jpg');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .hero-content .hero-inner {
        background-image: url('../../img/main-section/main-desktop@2x.jpg');
      }
    }

    @supports (image-rendering: auto) {
      @media (min-resolution: 384dpi) {
        .hero-content .hero-inner {
          background-image: url('../../img/main-section/main-desktop_2x.avif');
        }
      }
    }

    .hero-content .hero-heading {
      max-width: 564px;
    }

    .scroll-down-link {
      position: absolute;
      right: 32px;
      bottom: 32px;
    }
  }

  /* Animations */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(-120%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(170%);
    }
    to {
      transform: translateX(0);
    }
  }