.hero-content {
    padding-top: 8px;
  }
  
  .hero-content .hero-inner {
    position: relative;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        357.37deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      ),
      url('./src/img/main-section/main-mobile.jpg');
    padding: 0 20px;
    padding-top: 425px;
    padding-bottom: 72px;
    border-radius: 16px;
    max-width: 1192px;
    margin: 0 auto;
  }


  @media screen and (min-width: 768px) {
    .hero-content .hero-inner {
      padding-top: 260px;
      padding-bottom: 295px;
      padding-left: 32px;
      background-image: linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url('./src/img/main-section/main-tablet.jpg');
    }
  
    .hero-content .hero-heading {
      max-width: 488px;
    }
  
    .hero-content {
      padding-top: 32px;
    }
  }


  @media screen and (min-width: 1280px) {
    .hero-content .hero-inner {
      background-size: cover;
      padding-top: 164px;
      padding-bottom: 163px;
      padding-left: 64px;
      padding-right: 64px;
      background-image: linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url('./src/img/main-section/main-desktop.jpg');
    }
  
    .hero-content .hero-heading {
      max-width: 564px;
    }
  }