/* ================================== Mobile First ==================================*/
.teachers-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.teacher-img {
  border-radius: 50%;
  margin: 0 auto 16px;
}

.teachers-list .teacher:nth-child(1) .teacher-img {
  background-color: lightgray;
}
.teachers-list .teacher:nth-child(2) .teacher-img {
  background-color: #D4B2AF;
}
.teachers-list .teacher:nth-child(3) .teacher-img {
  background-color: #DFCC9F;
}
.teachers-list .teacher:nth-child(4) .teacher-img {
  background-color: #D1DFC3;
}

.teacher-name {
  text-align: center;
  margin-bottom: 8px;
  color: rgb(var(--cl-black));
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.teachers-list-text {
  text-align: center;
  color: rgba(var(--cl-black), 50%);
  font-size: 14px;
  line-height: 1.71;
}

/* ================================== Tablet Style ==================================*/
@media screen and (min-width: 768px) {
  .teachers-list {
    width: 576px;
    gap: 32px;
  }

  .teacher {
    width: calc((100% - 32px) / 2);
  }

  .teachers-list-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* ================================== Desktop Style ==================================*/
@media screen and (min-width: 1280px) {
  .teachers-list {
    width: 1024px;
  }

  .teacher {
    width: calc((100% - 32px * 3) / 4);
  }
}
