/* ================================== Mobile First ==================================*/

.reviews-container {
  background-color: yellow;
}

.reviews-item:not(:first-child) {
  display: none;
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .reviews-item:not(:first-child) {
    display: block;
  }

}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    padding-left: 64px;
    padding-right: 64px;
  }
}