<!-- #region Header Section -->
<header class="header">
  <a
    href="#main-content"
    aria-label="Skip to content"
    role="link"
    class="visually-hidden"
    >Skip to content</a
  >
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="./index.html"
        >english<span class="header-logo-light">excellence</span>.</a
      >
      <load src="/partials/nav-list.html" class="" />
      <load src="/partials/socials.html" class="socials-header" />
      <button class="mobile-menu-btn" type="button">
        <svg class="mobile-menu-icon" width="40" height="28">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
<!-- #endregion Header Section -->
