/*<section class="main-section"></section>*/

/*======= HERO section =======*/

<section class="hero-block">
    <div class="container hero-content">
      <div class="hero-inner">
        <h1 class="hero-heading">
          Discover the joy of learning
          <span class="highlighted-text">English</span> with us!
        </h1>
        <a
          class="cta-button apply-now-button"
          href="#application-form"
        >
          Leave an application
        </a>
        <a class="scroll-down-link" href="#footer-section" aria-label="Scroll to footer">
          <svg class="scroll-icon" width="20" height="20">
            <use href="./src/img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
