<section class="hero-block">
    <div class="container hero-content">
      <div class="hero-inner">
        <h1 class="hero-heading main-title">
          Discover the joy of learning
          <span class="main-title-highlight">English</span> with us!
        </h1>
        <a
          class="cta-button apply-now-button"
          href="#leave-section"
        >
          Leave an application
        </a>
        <a class="scroll-down-link" href="#footer" aria-label="Scroll to footer">
          <svg class="scroll-icon" width="20" height="20">
            <use href="/public/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
