/*<section class="main-section"></section>*/

/*======= HERO section =======*/

<section class="">
    <div class="">
      <div class="">
        <h1 class="">
          Discover the joy of learning
          <span class="">English</span> with us!
        </h1>
        <a
          class=""
          href="#"
        >
          Leave an application
        </a>
        <a class="" href="#" aria-label="Scroll to footer">
          <svg class="" width="20" height="20">
            <use href="./"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
