<section class="section-teachers section animate-on-scroll animate-bottom" id="our-teachers">
    <div class="container teachers-container">
      <h2 class="section-title">Meet our <span class="text__element">teachers</span></h2>
      <p class="section-description section-teachers-desc">Discover our team of dedicated educators, committed to guiding you on your journey
        to English proficiency with personalized and engaging instruction</p>
      <ul class="teachers-list">
        <li class="teacher">
          <img alt="Maria photo"
               class="teacher-img"
               height="150"
               width="150"
               src="/img/teachers-section/img-1.avif"
               srcset="/img/teachers-section/img-1.avif 1x, /img/teachers-section/img-1@2x.avif 2x"
          >
          <h3 class="teacher-name">Maria</h3>
          <p class="teachers-list-text">A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class</p>
        </li>
        <li class="teacher">
          <img alt="Artem photo"
               class="teacher-img"
               height="150"
               width="150"
               src="/img/teachers-section/img-2.avif"
               srcset="/img/teachers-section/img-2.avif 1x, /img/teachers-section/img-2@2x.avif 2x"
          >
          <h3 class="teacher-name">Artem</h3>
          <p class="teachers-list-text">With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated</p>
        </li>
        <li class="teacher">
          <img alt="Ilona photo"
               class="teacher-img"
               height="150"
               width="150"
               src="/img/teachers-section/img-3.avif"
               srcset="/img/teachers-section/img-3.avif 1x, /img/teachers-section/img-3@2x.avif 2x"
          >
          <h3 class="teacher-name">Ilona</h3>
          <p class="teachers-list-text">A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks</p>
        </li>
        <li class="teacher">
          <img alt="Volodymyr photo"
               class="teacher-img"
               height="150"
               width="150"
               src="/img/teachers-section/img-4.avif"
               srcset="/img/teachers-section/img-4.avif 1x, /img/teachers-section/img-4@2x.avif 2x"
          >
          <h3 class="teacher-name">Volodymyr</h3>
          <p class="teachers-list-text">Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs</p>
        </li>
      </ul>
    </div>
  </section>