<section class="section-teachers section" id="our-teachers">
    <div class="container">
        <h2 class="section-teachers-title">Meet our <span class="highlight">teachers</span></h2>
        <p class="section-teachers-desc">
            Discover our team of dedicated educators, committed to guiding you on your journey
             to English proficiency with personalized and engaging instruction
        </p>
        <ul class="teachers-list">
            <li class="teacher">
                <img class="teacher_photo"
                src="/img/teachers-section/Maria.jpg"
                alt="Maria"
                width="150"
                height="150"
                />
                <div class="teachers-list-title">
                    <p class="teachers-list-text">
                        A seasoned linguist and our 
                        primary specialist in beginner-
                        level instruction, Maria brings 
                        warmth and patience to every 
                        class
                    </p>
                </div>
            </li>
            <li class="teacher">
                <img class="teacher_photo"
                src="/img/teachers-section/Artem.jpg"
                alt="Artem"
                width="150"
                height="150"
                />
                <div class="teachers-list-title">
                    <p class="teachers-list-text">
                        With his innovative teaching 
                        techniques and a focus on 
                        interactive learning, Artem 
                        excels in keeping students 
                        engaged and motivated
                    </p>
                </div>
            </li>
            <li class="teacher">
                <img class="teacher_photo"
                src="/img/teachers-section/Ilona.jpg"
                alt="Ilona"
                width="150"
                height="150"
                />
                <div class="teachers-list-title">
                    <p class="teachers-list-text">
                        A specialist in advanced 
                        English, Ilona provides 
                        intensive instruction, ensuring 
                        students gain confidence in 
                        complex language tasks
                    </p>
                </div>
            </li>
            <li class="teacher">
                <img class="teacher_photo"
                src="/img/teachers-section/Volodymyr.jpg"
                alt="Volodymyr"
                width="150"
                height="150"
                />
                <div class="teachers-list-title">
                    <p class="teachers-list-text">
                        Our expert in English for 
                        specific purposes, Volodymyr 
                        tailors his approach to meet 
                        individual career and industry-
                        specific language needs
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
