<section class="reviews-section section" id="reviews">
  <div class="container reviews-container">
    <h2 class="section-title">What our <span class="text-accent">students</span> say</h2>
    <p class="reviews-description">Hear from our students about their learning journey with us, as they share their experiences, progress, and the transformative impact </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="img-wrapper">
          <img class="reviews-item-img"
               alt="Anna photo"
               height="50"
               width="50"
               src="/img/reviews-section/img5.avif"
               srcset="/img/reviews-section/img5.avif 1x, /img/reviews-section/img5@2x.avif 2x"
          >
          <h3 class="reviews-item-name">Anna</h3>
          <p class="reviews-item-role">Student</p>
        </div>
        <p class="reviews-item-feedback">My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills.</p>
      </li>
      <li class="reviews-item">
        <div class="img-wrapper">
          <img class="reviews-item-img"
               alt="Mykhaylo`s photo"
               height="50"
               width="50"
               src="/img/reviews-section/img6.avif"
               srcset="/img/reviews-section/img6.avif 1x, /img/reviews-section/img6@2x.avif 2x"
          >
          <h3 class="reviews-item-name">Mykhailo</h3>
          <p class="reviews-item-role">Student</p>
        </div>
        <p class="reviews-item-feedback">The school offers a great balance of language theory and practical exercises. The personalized feedback from the teachers has helped me improve my weak areas.</p>
      </li>
      <li class="reviews-item">
        <div class="img-wrapper">
          <img class="reviews-item-img"
               alt="Mykhaylo`s photo"
               height="50"
               width="50"
               src="/img/raw-img/img7.avif"
               srcset="/img/reviews-section/img7.avif 1x, /img/reviews-section/img7@2x.avif 2x"
          >
          <h3 class="reviews-item-name">Victoria</h3>
          <p class="reviews-item-role">Student</p>
        </div>
        <p class="reviews-item-feedback">I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a fun and effective way. I have definitely seen a big improvement in my language skills.</p>
      </li>
    </ul>
  </div>
</section>
